%header
  .inner
    %h1 UML Generator
    .sub
      Graphs are generated with PlantUML - download
      %a{href:"http://sourceforge.net/projects/plantuml/files/PlantUML%20Language%20Reference%20Guide.pdf/download"}  Language Guide

  %a{href:"https://github.com/soundcloud/uml-generator"}
    %img.gh-forkme{src:"//s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", alt:"Fork me on GitHub"}

#main
  %section#demo
    %table{align:"center", width:"100%"}
      %tr
        %td{valign:'top', width:"500px"}
          .editor-wrapper
            .editor= Rack::Utils.escape(diagram)


            .bubble-contents
              .merge-message

                %label.commit-message-summary-label{for:"commit-summary-input"} Commit summary:
                %input#commit-summary-input.commit-message-summary{type:"text", placeholder:"Update order_create.wsd", name:"message"}
                %input.js-commit-message-fallback{type:"hidden", name:"placeholder_message", value:"Update order_create.wsd"}

                %label.commit-message-label{for:"commit-description-textarea"}
                  Extended description: <small>(optional)</small>
                %textarea#commit-description-textarea.commit-message{name:"description"}

                .author
                  %img{height:"30", src:"https://secure.gravatar.com/avatar/b28a9e4acc2389914fd62dca939b5d2a?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", width:"30"}
                  %strong.author-name
                    %a{href:"/rngtng"} rngtng
                  %span.author-email tobi@soundcloud.com

                .merge-branch-form-actions
                  %button#submit-file.button.primary.js-blob-submit{type:"submit"}
                    Commit Changes

          /
            %ul
              %li
                %a Download as SVG
              %li
                %a Download as Text

        %td.diagram{align:'left', valign:'top'}
          %img{src:"#", border:1}

%script{src:"//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
%script{src:"/javascript/ace/ace.js"}

:javascript
  function setup_editor(div) {
    var editor_div = div.find(".editor"),
    diagram_div = div.find(".diagram img"),
    on_change = function() {
      $.ajax( {
        url: '/render.png',
        type: 'post',
        data: editor.getSession().getValue(),
        headers: {
            'Accept': 'image/png;base64'
        },
        success: function( data ) {
          diagram_div.attr('src', 'data:image/png;base64,' + data);
        }
      });
    },
    urldecode = function (url) {
      return decodeURIComponent(url.replace(/\+/g, ' '));
    },
    editor = ace.edit(editor_div.get(0)),
    defaultValue = editor.getSession().getValue();


    editor.getSession().setValue(urldecode(defaultValue));
    editor.setFontSize(10);
    editor.setTheme("ace/theme/github");

    editor.getSession().setMode('ace/mode/diagram');
    editor.getSession().on('change', on_change);
    on_change();
  }

  $(document).ready(function() {
   setup_editor($('#demo'));
  });
