#editor

#navigation

#view

%script{src:"/javascript/ace/ace.js"}
%script{src:"/javascript/fancybox/jquery.fancybox.pack.js?v=2.1.5"}
%script{src:"/javascript/index.js"}

:javascript

  $(document).ready(function() {
    loadContent($('#navigation'), $('#view'), '/content' + window.location.search);
    $(".fancybox").fancybox();
    setup_editor('editor');
    setup_nav($('body'), $("#navigation"))
  });
