%header
  .inner
    %h1 UML Generator
    .sub
      Graphs generated with PlantUML - download
      %a{href:"http://sourceforge.net/projects/plantuml/files/PlantUML%20Language%20Reference%20Guide.pdf/download"} Language Guide

  %a{href:"https://github.com/soundcloud/uml-generator"}
    %img.gh-forkme{src:"//s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt:"Fork me on GitHub"}

%ul.parent

%script{src:"/javascript/index.js"}
