!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

    %title vizard.io  - shiny UML Graphs on top of PlantUML

    %link{rel:"stylesheet", type:"text/css", href:"/css/style.css", media:"screen"}
    %link{rel:"stylesheet", type:"text/css", href:"http://yui.yahooapis.com/pure/0.5.0/pure-min.css", media:"screen"}

    %script#rootTemplate{type: "text/template"}
      %h1 vizard.io
      .diagrams
      %form.pure-form
        %h4 To start, enter a name and hit 'create':
        %input#modelId{type:'text', placeholder:"Diagram Name"}
        %button.pure-button.pure-button-primary Create
      %br
      %br

    %script#diagramTemplate{type: "text/template"}
      %a.fancybox{href: "#"}
        %img.diagram{src: "data:image/png;base64,<%= image %>"}

    %script#githubModalTemplate{type: "text/template"}
      .login
        .github-auth
          For shiny rendered diagrams, please

          %br
          %img{src: 'http://upload.wikimedia.org/wikipedia/en/thumb/4/40/Octocat,_a_Mascot_of_Github.jpg/220px-Octocat,_a_Mascot_of_Github.jpg', height:60}

        %a.btn-auth.btn-github.large{href:"/login"}
          sign in with <b>Github</b>

      .save
        .github-auth
          Save changes to GitHub?

        %a.btn-auth.btn-github.large{href:"/save"}
          Yes

  %body
    .edit.green
      .editor.blue

      .view
        %ul.content

        .credits
          shiny graph rendered with
          %a{href:'http://plantuml.sourceforge.net', target:'_blank'} PlantUml

    .browse.yellow
      .navigation
        .menu.hidden.white
          %ul

      .view
        .content

        .credits
          shiny graphs rendered with
          %a{href:'http://plantuml.sourceforge.net', target:'_blank'} PlantUml

    %script{src:"/bundle.js"}
