!!!
%html{lang:"en"}
  %head
    %meta{charset:'utf-8'}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "chrome=1"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}

    /[if lt IE 9]
      %script{src:"//html5shiv.googlecode.com/svn/trunk/html5.js"}

    %link{rel:"stylesheet", type:"text/css", href:"css/auth-buttons.css", media:"screen"}
    %link{rel:"stylesheet", type:"text/css", href:"css/style.css", media:"screen"}
    %link{rel:"stylesheet", type:"text/css", href:"javascript/fancybox/jquery.fancybox.css?v=2.1.5", media:"screen"}

    %title UML Generator - Graphs generated with PlantUML

  %body
    %header
      UML Generator - Graphs generated with PlantUML

    .edit.green
      .editor.blue
        #editor
          test test

      .view
        .content.red
          %a done
          asdasdas asdasdas asdasdasasda sdas asdasdas asdasdas asdasdasasd  asdasasdasdas asdasdas asdasda sasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas as dasdasasda sdasasdasdas asdasdas asdasdasasdasdas asdasdas asdasdas asdasd asasda sdasasda sdas asdas das asda sdasasdasdasasd asdas asdasdas asdasdasasdasdas asdasdas asda sdas asdas dasas dasdas asd asdas asdasdas asdasdasas dasdasasdasdas asdasdas asdasdasasdasdasas dasdas asdasdas asdasdasa sdasdasasda dasdasasdasdasasdasdas asda sdas asdasdasasdas dasasdasdas asdasdas  asdasdasasdasdasasdasdas asdasdas asdas dasasdasd asasda  sdas asdasdas asdasdasasdas dasasdasda s asdasdas asdasdasasdasdasasdasdas asdasdas asda sd asasdasdasasd asdas asdasd as asdasdasasdasdasasdasdas asdasdas asdasd asasdas dasasda das asdasdas asdasdasasdasda sasdasdas asdasdas asdasd asasdasdas as d  asdas asdasda  asdasdasasdasdas asdasdas asdasdas asdasdasasdasdasasdasd as asdas das asdasdasa sdasdasasd asdas asdas  das as  dasdasasdasdasasdasdas asdasdas a sdasdasasdasda  sasdasdas asdasdas asdasdasas dasdasasdasdas asdasdas asdasd asasdasdasasdasdas a sdasdas  asdasdasasdasdasasdasdas asdasdas asda sdasasdasdas asdasdas a dasdasasdasdas sdasdas asdasdas asdasdasasdasd asasdasdas asdasdas  asdasdasasda sdasasdasdas asda asdas  asdasdas asdasdasasdasdasasdasdas asdasdas asdasdasa  sdasdasasdasdas asd asdasas da sdasasdasdas asdasdas asdas  dasasdasdasasdasdas asda sdas asdasdasas dasd asasdasd as asdasdas asdasdasasdasdas asdasdas asdasdas asdasd asasda sdasasdas sdas a asda sdasa sdasdas asdasdas as dasasdasdas asdasdas asdasdasasdas dasasdas  das asdasdas asdasdasa  asda s d as asdasdas asda sdasasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas asda sdasasdas dasasdasdas asdasdas asdasdasa sdasdasa sdasda asasdasdasasdasdas  asdasdasasdasdasa sdasda s asdasdas asdasdasasdasdasasdasda s asdasdas asdasdasasda asasdasdas asda das asdasdasasd sdasasdasdas asdasdas asdasda sasdasdasa sdas das asdasdas asdasdasasdasd asasda sdas asdasdas asdasdasasdasdasasdasdas asdasdas as dasdas as asdasdasasdasdasas dasdas asdasda  asdas dasasdasdasa  sda sdas asdasdas asdasdas asdasdas asdasdas asdasdas asdasdasasda sdas asdasdas asdasdas asdasdasasd  asdasasdasdas asdasdas asdasda sasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas as dasdasasda sdasasdasdas asdasdas asdasdasasdasdas asdasdas asdasdas asdasd asasda sdasasda sdas asdas das asda sdasasdasdasasd asdas asdasdas asdasdasasdasdas asdasdas asda sdas asdas dasas dasdas asd asdas asdasdas asdasdasas dasdasasdasdas asdasdas asdasdasasdasdasas dasdas asdasdas asdasdasa sdasdasasda dasdasasdasdasasdasdas asda sdas asdasdasasdas dasasdasdas asdasdas  asdasdasasdasdasasdasdas asdasdas asdas dasasdasd asasda  sdas asdasdas asdasdasasdas dasasdasda s asdasdas asdasdasasdasdasasdasdas asdasdas asda sd asasdasdasasd asdas asdasd as asdasdasasdasdasasdasdas asdasdas asdasd asasdas dasasda das asdasdas asdasdasasdasda sasdasdas asdasdas asdasd asasdasdas as d  asdas asdasda  asdasdasasdasdas asdasdas asdasdas asdasdasasdasdasasdasd as asdas das asdasdasa sdasdasasd asdas asdas  das as  dasdasasdasdasasdasdas asdasdas a sdasdasasdasda  sasdasdas asdasdas asdasdasas dasdasasdasdas asdasdas asdasd asasdasdasasdasdas a sdasdas  asdasdasasdasdasasdasdas asdasdas asda sdasasdasdas asdasdas a dasdasasdasdas sdasdas asdasdas asdasdasasdasd asasdasdas asdasdas  asdasdasasda sdasasdasdas asda asdas  asdasdas asdasdasasdasdasasdasdas asdasdas asdasdasa  sdasdasasdasdas asd asdasas da sdasasdasdas asdasdas asdas  dasasdasdasasdasdas asda sdas asdasdasas dasd asasdasd as asdasdas asdasdasasdasdas asdasdas asdasdas asdasd asasda sdasasdas sdas a asda sdasa sdasdas asdasdas as dasasdasdas asdasdas asdasdasasdas dasasdas  das asdasdas asdasdasa  asda s d as asdasdas asda sdasasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas asdasdasasdasdasasdasdas asdasdas asda sdasasdas dasasdasdas asdasdas asdasdasa sdasdasa sdasda asasdasdasasdasdas  asdasdasasdasdasa sdasda s asdasdas asdasdasasdasdasasdasda s asdasdas asdasdasasda asasdasdas asda das asdasdasasd sdasasdasdas asdasdas asdasda sasdasdasa sdas das asdasdas asdasdasasdasd asasda sdas asdasdas asdasdasasdasdasasdasdas asdasdas as dasdas as asdasdasasdasdasas dasdas asdasda  asdas dasasdasdasa  sda sdas asdasdas asdasdas asdasdas

    .browse.yellow
      .navigation
        .menu.yellow
          %ul
            %li
              %a{href:'#view1'} 1
            %li
              %a{href:'#view2'} 2
            %li
              %a{href:'#view3'} 3

      .view.red
        .content
          %ul
            %li#view1
              %img{src:'http://planet-terre.ens-lyon.fr/objets/Images/Img122/122-source-du-lison.jpg'}
            %li#view2
              %img{src:'http://planet-terre.ens-lyon.fr/objets/Images/Img122/122-source-du-lison.jpg'}
            %li#view3
              %img{src:'http://planet-terre.ens-lyon.fr/objets/Images/Img122/122-source-du-lison.jpg'}

    %script{src:"/javascript/jquery.min.js"}
    %script{src:"/javascript/jquery.scrollTo-min.js"}
    %script{src:"/javascript/jquery.scrollspy.js"}
    / %script{src:"//brandonaaron.github.io/jquery-mousewheel/jquery.mousewheel.js"}
    %script{src:"/javascript/ace/ace.js"}
    %script{src:"/javascript/fancybox/jquery.fancybox.pack.js?v=2.1.5"}
    %script{src:"/javascript/index.js"}

    :javascript
      $(document).ready(function() {
        //setup_editor('editor');
        var editor = ace.edit("editor");

        $('.browse .navigation a').click(function(event) {
          event.preventDefault();
          element_id = $(this).attr('href');
          $('.browse .content').scrollTo( $('.browse .content ' + element_id), 800, {easing:'swing'} );
        });

        $('.browse .content li').on('scrollSpy:enter', function() {
            // console.log('enter:', $(this).attr('id'));
        }).on('scrollSpy:exit', function() {
            // console.log('exit:', $(this).attr('id'));
        }).dblclick(function(event) {
          $('.edit').animate({'margin-left':'0'}, 500);
          $('.navigation').animate({'margin-left':'100%'}, 500);
        }).scrollSpy();

        $('.edit .view a').dblclick(function(event) {
          $('.edit').animate({'margin-left':'-100%'}, 500);
          $('.navigation').animate({'margin-left':'0'}, 500);
        });

        // loadContent($('#navigation'), $('#view'), '/content' + window.location.search);
        //$(".fancybox").fancybox();

        //setup_nav($('body'), $("#navigation"))
      });

