%header
  .inner
    %h1 UML Generator


#main
  %section
    %h2 Diagram Not Found

    = github_file

    .github-auth
      Please login first:

    %a.btn-auth.btn-github.large{href:"/auth"}
      Sign in with <b>Github</b>



