
body {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

a {
  color: #2879d0;
}

a:hover {
  color: #2268b2;
}

h1 {
  display: inline;
}

li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.diagram img {
  max-width:100%;
}

#main {
  padding: 10px;
}

.editor {
  width: 500px;
  height: 600px;
  font-size: 10px;
}

.editor-wrapper {
  width: 500px;
  height: 600px;
}

.gh-forkme {
  position: absolute; top: 0; right: 0; border: 0;
}

.center {
  text-align: center;
}

.github-auth {
  margin-top: 50px;
}

.sub {
  margin-left: 20px;
  display: inline;
}
